.mobile-home {
  display: block;
}

.desktop-home {
  display: none;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #fff;
}

.welcome-tag {
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar div {
  display: flex;
  flex-direction: column;
}

.navlink {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.navlink:hover {
  color: #08ee05;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .mobile-home {
    display: none;
  }
  
  .desktop-home {
    display: block;
  }
  
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 4rem;
  }

  .navbar div {
    flex-direction: row;
  }
  .navlink {
    padding-right: 2rem;
    margin: 0;
  }

}