.mobile-home {
  display: block;
}

.desktop-home {
  display: none;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.welcome-tag {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.75rem auto 1.75rem;
}

.navbar div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: #fff;
  padding: 0;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.desktop-portfolio {
  display: none;
}

.mobile-portfolio {
  display: block;
}

.navlink:hover {
  color: #3495b6;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .mobile-home {
    display: none;
  }
  
  .desktop-home {
    display: block;
  }

  .welcome-tag {
    margin: 0;
  }
  
  .navbar {
    flex-direction: row;
    padding: 2rem 2rem 2rem 4rem;
  }

  .navbar div {
    width: fit-content;
  }

  .navlink {
    padding-right: 3rem;
    margin: 0;
  }

  .desktop-portfolio {
    display: block;
  }
  
  .mobile-portfolio {
    display: none;
  }

}